body{
    background-color: rgb(205, 211, 212);
    text-align: center;
}
.two{
    background-color: rgb(165, 182, 194);
    width:90%;
    height: 60%;
    display: flex;
    text-align: center;
    margin: 20% auto;
    font-weight: bold;
    text-align: center;
    display: block;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20%;
    padding-top: 30px;
    padding-bottom: 30px;

   }
   .three{
    margin-top:20%; 
    width:20%;
    background-color: whitesmoke;
    display: block;
    border-radius: 8px 8px 8px 8px;
    text-align: center;
    margin: 5px auto;
    
    font-size: 25px;
    
   }
   img{
    width: 90%;
    height: 90%;
    margin-top:10px;
    border-radius: 10px;
   }
.five{
    font-weight: lighter;
    font-size: 20px;

}